# --------------------
# Python
# --------------------
__pycache__/
*.pyc

# --------------------
# Virtual environment
# --------------------
venv/

# --------------------
# Data files (training only)
# --------------------
data/*.csv

# --------------------
# Results & logs
# --------------------
results/
*.log

# --------------------
# Environment variables
# --------------------
.env
*.env

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db
